/* CSS Document */
#bottom{
height:255px;
width:1350px;
background:#E9E9E9;
margin-top:20px;
}
#zuo1{
float:left;
width:370px;
height:255px;
border-right:1px solid #D9D9D9;
margin-right:30px;
}
#zuo1>div{
margin-left:80px;
margin-top:20px;
}

#zhong{
width:700px;
height:255px;
float:left;
}
.mid{
float:left;
width:100px;
margin-top:30px;
}
.mid a{
list-style:none;
text-decoration:none;
font-family:"ו";
color:#666666;
}
.mid a{
font-size:10px;
}
.mid span{
font-size:12px;
font-weight:bold;
}

#you1{
float:right;
margin-right:90px;
margin-top:20px;
}

