/* CSS Document */

#footer{
	height:170px;
	width:1000px;
	margin:0 auto;
	text-align:center;
	line-height:1.3em;
}
#f1{
	height:20px;
	width:300px;
	margin:10px auto 0 auto;
}
#footer a{
	font-size:10px;
	font-family:"ו";
	color:#666666;
	text-decoration:none;
}
#footer img{
	margin-top:10px;
	}
