/* CSS Document */
.main{
	width:1000px;
	height:404px;
	border:1px solid #EFEFEF;
	margin:0 auto 3px auto;
	font-family:"ו";
	font-size:18px;
}
.left{
	float:left;
	width:330px;
}
.left-top{
	font-family:"ו";
	font-size:36px;
	color:white;
	text-align:center;
	line-height:90px;
	height:90px;
	background:#00510F;}

.left-mid1{
	width:164px;
	height:40px;
	background-color:#999999;
	font-size:30px;
	float:left;
	border-right:1px solid #666666;
	text-align:center;
	}
.left-mid2{
	text-align:center;
	width:165px;
	height:40px;
	background-color:#999999;
	font-size:30px;
	float:left;
	}
.left-mid3{
	text-align:center;
	width:174px;
	height:40px;
	background-color:#999999;
	font-size:30px;
	float:left;
	}
.fight{
	float:right;
	}
.main span{
	font-family:"ו";
	color:#FF0000;
	font-size:18px;}

