/* CSS Document */
#middle{
width:1000px;
height:63px;
margin:3px auto 3px auto;
background:#00FF99;
}
.aa{
width:198px;
height:100%;
background-color:#B0B0B2;
border:1px solid #EFEFEF;
float:left;
font-family:"ו";
font-size:30px;
text-align:center;
line-height:63px;
}
.aa>a{
text-decoration:none;
color:#000000;
}

